<ion-view title="{{ 'about_cekkucek' | translate }}">
	<ion-content class="padding">
		<div class="list noborder">
			<div class="item item-divider">Selamat Datang</div>
			<div class="item item-text-wrap">
				Terima kasih telah menggunakan Cek-Kucek, aplikasi untuk laundry.
				Cek-Kucek terdiri dari 2 aplikasi, yaitu <b>Cek-Kucek</b> untuk
				digunakan pelanggan laundry, dan <b>Cek-Kucek Laundry</b> untuk
				digunakan pemilik usaha laundry.
			</div>
			<div class="item item-text-wrap">
				Target aplikasi ini adalah agar pelanggan dapat langsung memesan jasa laundry
				langsung dari aplikasi, serta memudahkan laundry di manajemen pesanan, keuangan,
				dan pelanggan.
			</div>
			<div class="item item-text-wrap">
				Pada saat ini aplikasi Cek-Kucek masih dalam tahap uji coba.
				Aplikasi sudah dapat digunakan, namun masih banyak kesalahan
				program yang harus diperbaiki. Fitur-fiturnya masih jauh dari lengkap.
			</div>
			<div class="item item-text-wrap">
				Oleh karena itu, jika ada ide/saran/kritik yang membangun
				tentang aplikasi ini, mohon dikirimkan melalui e-mail ke
				<b>simfulcom@yahoo.com</b>.
			</div>
			<div class="item item-text-wrap">
				Pengembangan Cek-Kucek masih sangat aktif, dan akan ada update
				setiap harinya sampai semuanya berjalan dengan lancar. Mohon untuk
				meng-update aplikasi Cek-Kucek dari App Store/Google Play secara berkala agar
				meminimalisir kesalahan program.
			</div>
			<div class="item item-text-wrap">
				Terima kasih dan sukses selalu.
			</div>
			<div class="item item-divider">Informasi Versi</div>
			<div class="item">
				Cek-Kucek version 0.0.5
			</div>
			<div class="item">
				Cek-Kucek Laundry version 0.0.5
			</div>
			<div class="item">
				API version 0.1 (Feb 2015)
			</div>
			<div class="item">
				Tests Passing
			</div>
		</div>
	</ion-content>
</ion-view>
