/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/
// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: '../lib/ionic/fonts' !default;
$light: #fff !default; //#fff !default;
$stable: #f0f0f0 !default;
$positive: #984BFF !default;
$calm: #11c1f3 !default;
$balanced: #04859d !default;
$energized: #FF8D00 !default; //#ffc900 !default;
$assertive: #ef473a !default;
$royal: #886aea !default;
$dark: #444 !default;
$pink: #FCCFFF;
// Include all of Ionic
@import "www/lib/ionic/scss/ionic";
//@import "app/scss/rrssb.scss";

.bar button.button-clear.button-subheader {
	padding-left: 15px;
	padding-right: 15px;
}

.pull-right {
	float: right;
}

.nobortop {
	border-top: none;
}

.mbot {
	margin-bottom: 15px;
}

.alert-box {
	padding   : 10px;
	background: #fdd;
	color     : #f22;
	margin    : 10px auto;
}

.item {
	border-color: $pink;
}

.item-divider {
	background: $pink;
}

.list.noborder .item {
	border: none;
}

.list.small .item {
	padding: 10px;
}

.userinfo {
	text-align: center;
	margin-top: 15px;

	img {
		border-radius: 50%;
	}
}

body,
.ionic-body,
button,
h1,
h2,
h3,
h4 {
	font-family: 'Open Sans', sans-serif;
}

.italic {
	font-style: italic;
}

.text-small {
	font-size: .85;
}

.list.nopadding,
.nopadding .item-content {
	padding: 0;
}

.welcome-banner {
	background: purple;
	color     : white;
	text-align: center;
	padding   : 30px 10px;

	img {
		max-width    : 70%;
		margin-bottom: 15px;
	}

	.slogan {
		font-style: italic;
	}
}

.item-note {
	font-size  : inherit;
	font-weight: bold;
	color      : #333;
}

.scroll {
	height: 100%;
}

#map {
	width : 100%;
	height: 100%;
}

#login {
	background-color: #B2EDFF;
	min-height      : 100vh;
	text-align      : center;
	padding-top     : 40px;
	padding-bottom  : 40px;

	.logo {
		max-width : 80%;
		text-align: center;
		margin    : 40px 0;
	}

	#loginForm {
		text-align: left;
		background: white;
	}

	.inner {
		max-width: 75%;
		max-width: 400px;
		margin   : auto;
	}
}

.loading {
	text-align    : center;
	vertical-align: center;
	background    : white;
	padding       : 20px;

	.small {
		height: 80px;
	}
}

.item-buttons {
	display: inline-block;
	float  : right;
}

.button-80 {
	width: 80%;
}

.card {
	border : 1px solid #f0f0f0;
	padding: 0;
}

.item.small {
	padding  : 5px 15px;
	font-size: 14px;
}

.item-right-pane {
	text-align: right;
}

stepper {
	.dec,
	.num,
	.inc {
		display: inline-block;
	}

	.num {
		font-size: 16px;
		padding  : 5px 10px;
	}
}

.item stepper {
	width: 100%;
	text-align: right;
	padding-right: 24px;
}

.platform-android .action-sheet .action-sheet-title,
.platform-android .action-sheet .button {
	text-align: center;
}

.paginator {
	text-align: center;
	vertical-align: center;
	margin-top: 10px;

	.button-back {
		float: left;
	}

	.button-next {
		float: right;
	}

	.indicator {
		display: inline-block;
		margin-top: 15px;
	}
}
