<ion-view title="{{ 'promote_laundry' | translate }}">
	<ion-content>
		<div class="card list noborder">
			<div class="item item-text-wrap">
				<b>{{ 'promote_page_title_1' | translate }}</b>
			</div>
			<div class="item item-text-wrap">
				{{ 'promote_page_text_1' | translate }}
			</div>
			<div class="item item-text-wrap">
				{{ 'promote_page_text_2' | translate }}
			</div>
			<div class="item">
				<button class="button button-balanced icon-left ion-share" ng-click="doPromote()">{{ 'promote_now' | translate }}</button>
			</div>
		</div>
	</ion-content>
</ion-view>
