<ion-view view-title="{{ 'more' | translate }}">
	<ion-content class="padding">
        <ion-list>
			<ion-item class="item-divider">{{ 'account_settings' | translate }}</ion-item>
            <ion-item ui-sref="tabs.myProfile">{{ 'profile' | translate }}</ion-item>
            <ion-item ui-sref="tabs.account">{{ 'change_password' | translate }}</ion-item>
			<ion-item ng-click="setLanguage()">{{ 'language' | translate }}</ion-item>
			<ion-item ng-click="doLogout()">{{ 'logout' | translate }}</ion-item>

			<ion-item class="item-divider">{{ 'laundry_settings' | translate }}</ion-item>
			<ion-item ui-sref="tabs.myLaundry">{{ 'laundry_info' | translate }}</ion-item>
			<ion-item ui-sref="tabs.manageUsers">{{ 'manage_users' | translate }}</ion-item>

			<ion-item class="item-divider">{{ 'pricing' | translate }}</ion-item>
			<ion-item ui-sref="tabs.packages">{{ 'packages' | translate }}</ion-item>
			<ion-item ui-sref="tabs.items">{{ 'items' | translate }}</ion-item>

			<ion-item class="item-divider">{{ 'support' | translate }}</ion-item>
            <ion-item ui-sref="tabs.about">{{ 'about_cekkucek' | translate }}</ion-item>
            <ion-item ui-sref="tabs.contact">{{ 'contact_us' | translate }}</ion-item>
		</ion-list>
	</ion-content>
</ion-view>
