<ion-view view-title="{{ 'more' | translate }}">
	<ion-content class="">
        <div class="list noborder">
			<ion-item class="item-divider">
				{{ 'account_settings' | translate }}
			</ion-item>
            <ion-item class="item-icon-left" ui-sref="tabs.myProfile">
				<i class="icon ion-person"></i>
				{{ 'profile' | translate }}
			</ion-item>
            <ion-item class="item-icon-left" ui-sref="tabs.account">
				<i class="icon ion-key"></i>
				{{ 'change_password' | translate }}
			</ion-item>
			<ion-item class="item-icon-left" ng-click="setLanguage()">
				<i class="icon ion-earth"></i>
				{{ 'language' | translate }}
			</ion-item>
			<ion-item class="item-icon-left" ng-click="doLogout()">
				<i class="icon ion-log-out"></i>
				{{ 'logout' | translate }}
			</ion-item>

			<ion-item class="item-divider">
				{{ 'laundry_settings' | translate }}
			</ion-item>
			<ion-item ui-sref="tabs.myLaundry" class="item-icon-left">
				<i class="icon ion-briefcase"></i>
				{{ 'laundry_info' | translate }}
			</ion-item>
			<ion-item ui-sref="tabs.laundrySettings" class="item-icon-left">
				<i class="icon ion-wrench"></i>
				{{ 'laundry_settings' | translate }}
			</ion-item>
			<ion-item ui-sref="tabs.manageUsers" class="item-icon-left">
				<i class="icon ion-person-stalker"></i>
				{{ 'manage_users' | translate }}
			</ion-item>

			<ion-item class="item-divider">
				{{ 'pricing' | translate }}
			</ion-item>
			<ion-item ui-sref="tabs.packages" class="item-icon-left">
				<i class="icon ion-social-usd"></i>
				{{ 'packages' | translate }}
			</ion-item>
			<ion-item ui-sref="tabs.items" class="item-icon-left">
				<i class="icon ion-pricetag"></i>
				{{ 'items' | translate }}
			</ion-item>

			<ion-item class="item-divider">
				{{ 'support' | translate }}
			</ion-item>
            <ion-item ui-sref="tabs.about" class="item-icon-left">
				<i class="icon ion-information-circled"></i>
				{{ 'about_cekkucek' | translate }}
			</ion-item>
            <ion-item ui-sref="tabs.contact" class="item-icon-left">
				<i class="icon ion-email"></i>
				{{ 'contact_us' | translate }}
			</ion-item>
		</div>
	</ion-content>
</ion-view>
