<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-positive">

	<ion-tab title="Home" icon="ion-home" href="#/tabs/home">
		<ion-nav-view name="tab-home"></ion-nav-view>
	</ion-tab>

	<ion-tab title="Orders" icon="ion-clipboard" href="#/tabs/order-list">
		<ion-nav-view name="tab-orders"></ion-nav-view>
	</ion-tab>

	<ion-tab title="Reports" icon="ion-document" href="#/tabs/reports" hidden="true">
		<ion-nav-view name="tab-reports"></ion-nav-view>
	</ion-tab>

	<ion-tab title="More" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tabs/more">
		<ion-nav-view name="tab-more"></ion-nav-view>
	</ion-tab>


</ion-tabs>
