<ion-view>
	<ion-content>
		<div id="login">
			<div class="inner padding">

				<img class="logo" src="img/cekucek-logo-laundry.png"/>

				<div class="alert-box" ng-if="loginError">
					{{ 'invalid_credentials' | translate }}
				</div>

				<div class="button-bar" style="margin-bottom: 20px;">
					<button class="button" ng-class="{ 'button-balanced': active_language == 'en' }" ng-click="setLanguage('en')">English</button>
					<button class="button" ng-class="{ 'button-balanced': active_language == 'id' }" ng-click="setLanguage('id')">Bahasa Indonesia</button>
				</div>

				<div class="stayBot">
					<loading-box message="Logging in..." ng-if="loggingIn"></loading-box>

					<div ng-if="!loggingIn">
						<form id="loginForm" class="list" name="loginForm">

							<label class="item item-input item-floating-label">
								<span class="input-label">{{ 'email' | translate }}</span>
								<input type="email" placeholder="Email" ng-model="user.email" required>
							</label>

							<label class="item item-input item-floating-label">
								<span class="input-label">{{ 'password' | translate }}</span>
								<input type="password" placeholder="Password" ng-model="user.password" required>
							</label>
						</form>

						<button class="button button-energized button-block" ng-click="doLogin()" ng-disabled="!loginForm.$valid">{{ 'login' | translate }}</button>

						<hr>

						<img ng-click="authenticate('facebook')" src="img/facebook_login.png" style="width: 185px"><br>
						<img ng-click="authenticate('google')" src="img/google_login.png">

					</div>

					<div class="text-center">
						<p style="margin-top: 30px;">{{ 'dont_have_an_account?' | translate }}</p>
						<button class="button button-energized button-80" ui-sref="registerUser">{{ 'sign_up' | translate }}</button>
					</div>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>
