<ion-view title="{{ 'homepage' | translate }}">
	<ion-nav-buttons side="right">
		<button class="button icon-left ion-ios-bell-outline" ui-sref="tabs.notifications">
		</button>
	</ion-nav-buttons>
	<ion-content class="has-header">
		<ion-refresher pulling-text="Pull to refresh" on-refresh="doRefresh()"></ion-refresher>
		<loading-box message="{{ 'retrieving_orders' | translate }}">
			<div class="padding">
				<div class="list noborder">
					<div class="item item-avatar" ui-sref="tabs.viewProfile({ id: dash.user.id })">
						<img ng-src="{{ dash.user.avatar }}"/>
						<h2>{{ dash.user.name }}</h2>
						<small>{{ dash.user.laundry.laundry_name }}</small>
					</div>

					<div class="item item-divider">{{ 'orders' | translate }}</div>

					<div class="item" ui-sref="tabs.orders({ status: 'new' })">
						{{ 'new_orders' | translate }}
						<span class="item-note">{{ dash.new_orders }}</span>
					</div>
					<div class="item" ui-sref="tabs.orders({ status: 'active' })">
						{{ 'active_orders' | translate }}
						<span class="item-note">{{ dash.active_orders }}</span>
					</div>
					<div class="item" ui-sref="tabs.orders({ status: 'completed' })">
						{{ 'waiting_delivery' | translate }}
						<span class="item-note">{{ dash.waiting_delivery }}</span>
					</div>

					<div class="item item-divider">{{ 'income' | translate }}</div>

					<div class="item">
						{{ 'today' | translate }}
						<span class="item-note">{{ dash.today_income | currency: 'Rp '}}</span>
					</div>

					<div class="item">
						{{ 'this_week' | translate }}
						<span class="item-note">{{ dash.week_income | currency: 'Rp '}}</span>
					</div>

					<div class="item">
						{{ 'this_month' | translate }}
						<span class="item-note">{{ dash.month_income | currency: 'Rp '}}</span>
					</div>

					<div class="item">
						{{  'this_year' | translate }}
						<span class="item-note">{{ dash.year_income | currency: 'Rp '}}</span>
					</div>
				</div>
			</div>
		</loading-box>
	</ion-content>
</ion-view>
