<ion-view title="Edit Profile">
	<ion-content class="padding has-header">
		<form class="list" name="profileForm">
			<label class="item item-input item-floating-label">
				<span class="input-label">{{ 'name' | translate }}</span>
				<input type="text" placeholder="Name" ng-model="user.name" required>
			</label>
			<label class="item item-input item-floating-label">
				<span class="input-label">{{ 'address' | translate }}</span>
				<input type="text" placeholder="Address" ng-model="user.address" required>
			</label>
			<label class="item item-input item-floating-label">
				<span class="input-label">{{ 'city' | translate }}</span>
				<input type="text" placeholder="City" ng-model="user.city" required>
			</label>
			<label class="item item-input item-floating-label">
				<span class="input-label">{{ 'province' | translate }}</span>
				<input type="text" placeholder="Province" ng-model="user.province" required>
			</label>
			<label class="item item-input item-floating-label">
				<span class="input-label">{{ 'country' | translate }}</span>
				<input type="text" placeholder="Country" ng-model="user.country" required>
			</label>
			<label class="item item-input item-floating-label">
				<span class="input-label">{{ 'phone_number' | translate }}</span>
				<input type="text" placeholder="Phone Number" ng-model="user.phone" required>
			</label>
		</form>

		<button class="button button-balanced icon icon-left ion-checkmark" ng-click="updateProfile()" ng-disabled="!profileForm.$valid">{{ 'save_changes' | translate }}</button>
		<button class="button button-stable" ui-sref="tabs.myProfile">{{ 'cancel' | translate }}</button>
	</ion-content>
</ion-view>
