<ion-view title="{{ 'view_profile' | translate }}">
	<ion-content class="padding">
		<loading-box>
			<div class="cover userinfo">
				<div class="picture">
					<img ng-src="{{ user.avatar }}" alt="User Picture" />
					<h3>{{ user.name }}</h3>
					<p>{{ user.title }}</p>
				</div>
			</div>

			<div class="list noborder">
				<ion-item class="item-icon-left item-text-wrap">
					<i class="icon ion-location"></i>
					{{ user.address }}, {{ user.city }}, {{ user.province }}, {{ user.country }}
				</ion-item>
				<ion-item class="item-icon-left">
					<i class="icon ion-android-call"></i>
					{{ user.phone }}
				</ion-item>
				<ion-item class="item-icon-left">
					<i class="icon ion-email"></i>
					{{ user.email }}
				</ion-item>
			</div class="list">

			<button class="button button-balanced button-block icon ion-edit" ui-sref="tabs.editProfile" ng-if="canEdit" style="margin-bottom: 100px;">
				{{ 'edit_profile' | translate }}
			</button>
		</loading-box>
	</ion-content>
</ion-view>
