<ion-view title="My Account">
	<ion-content class="padding">
		<form name="changePasswordForm" class="form list">
			<div class="item item-divider">Change Password</div>

			<label class="item item-input item-floating-label">
				<span class="input-label">New Password</span>
				<input type="password" class="item" ng-model="newpassword" placeholder="New Password" required/>
			</label>

			<label class="item item-input item-floating-label">
				<span class="input-label">Retype New Password</span>
				<input type="password" class="item" ng-model="verifypassword" placeholder="Retype New Password" required/>
			</label>
		</form>

		<button class="button button-balanced" ng-click="changePassword()" ng-disabled="!changePasswordForm.$valid">Change Password</button>

	</ion-content>
</ion-view>
