<ion-view title="Contact">
	<ion-content class="padding">
		<div class="list noborder">
			<div class="item item-text-wrap">
				Jika ada pertanyaan, kesalahan program, permintaan fitur, saran/kritik atau yang lainnya,
				hubungi kami di:
			</div>
			<div class="item item-text-wrap">
				E-mail/Yahoo! Messenger:<br>
				<b>simfulcom@yahoo.com</b>
			</div>
			<div class="item item-text-wrap">
				WhatsApp:<br>
				<b>+62 838 9169 2221 / + 62 812 9776 0856</b>
			</div>
			<div class="item item-text-wrap">
				Facebook Page:<br>
				<b>facebook.com/cek-kucek</b>
			</div>
			<div class="item item-text-wrap">
				Instagram:<br>
				<b>instagram.com/cek_kucek</b>
			</div>
		</div>
	</ion-content>
</ion-view>
