<ion-view title="{{ 'new_walk_in' | translate }}">
	<ion-content class="has-header padding">
		<form class="list" name="orderForm">
			<label class="item item-select">
				<span class="input-label">{{ 'customer' | translate }}</span>
				<select ng-model="order.customer_type" required>
					<option value="new">{{ 'new_customer' | translate }}</option>
					<option value="existing">{{ 'existing_customer' | translate }}</option>
				</select>
			</label>

			<label class="item item-input">
				<span class="input-label">{{ 'name' | translate }}</span>
				<input type="text" ng-model="customer.name" placeholder="Enter customer name">
			</label>

			<label class="item item-select">
				<span class="input-label">{{ 'type' | translate }}</span>
				<select required ng-model="order.type" required>
					<option value="weight">{{ 'per_weight' | translate }}</option>
					<option value="piece">{{ 'per_item' | translate }}</option>
				</select>
			</label>

			<label class="item item-select" required>
				<span class="input-label">{{ 'package' | translate }}</span>
				<select required placeholder="{{ 'package' | translate }}" ng-model="order.package" ng-options="package as package.package_name for package in packages track by package.id"></select>
			</label>

			<div class="item item-text-wrap item-icon-left nobortop" ng-if="order.package">
				<i class="icon ion-leaf"></i>
				{{ order.package.package_name }} ({{ order.package.price | currency: 'Rp ' }}/kg, {{ order.package.processing_time }} hours)
			</div>

			<label class="item item-select">
				<span class="input-label">{{ 'delivery_to' | translate }}</span>
				<select required ng-model="order.delivery_to">
					<option value="home">{{ 'home' | translate }}</option>
					<option value="current">{{ 'take_from_here' | translate }}</option>
					<option value="cu nobortopstom">{{ 'custom_address' | translate }}...</option>
				</select>
			</label>

			<div class="item item-text-wrap item-icon-left nobortop" ng-if="order.delivery_to == 'home'">
				<i class="icon ion-location"></i> {{ user.address }}
			</div>

			<div class="item item-text-wrap item-icon-left nobortop" ng-if="order.delivery_to == 'current' && delivery_address">
				<i class="icon ion-location"></i> {{ delivery_address }}
			</div>

			<div class="item item-text-wrap item-avatar nobortop" ng-if="order.delivery_to == 'current' && !delivery_address">
				<img src="img/ripple.svg"/>
				{{ 'getting_current_location' | translate }}<br>
				<button class="button button-stable button-small" ng-click="refreshLocation()">{{ 'refresh' | translate }}</button>
			</div>

			<div class="item nobortop" ng-if="order.delivery_to == 'custom'">
				<textarea ng-model="order.custom_address" placeholder="Enter Custom Address..." style="min-height: 200px; width: 100%"></textarea>
			</div>

		</form>
		<div ng-if="ordering" class="text-center">
			<img src="img/ripple.svg" style="height: 50px; width: 50px"/>
		</div>
		<div class="button-group text-center" ng-if="!ordering">
			<button class="button button-balanced button-block" ng-click="submitOrder()" ng-disabled="!orderForm.$valid">
				<i class="icon ion-checkmark-round"></i>
				{{ 'submit_order' | translate }}
			</button>
		</div>
	</ion-content>
</ion-view>
