<ion-view title="{{ 'orders' | translate }}" hide-back-button="true">
	<ion-nav-buttons side="right">
		<button class="button icon-left ion-plus" ui-sref="tabs.newWalkin">{{ 'new_walk_in' | translate }}</button>
	</ion-nav-buttons>
	<ion-content class="has-header">
		<ion-refresher pulling-text="Pull to refresh" on-refresh="doRefresh()"></ion-refresher>

		<div class="button-bar button-small">
			<button class="button button-stable" ng-class="{ 'button-balanced': orderStatus == 'new' }" ng-click="filterOrder('new')">{{ 'new' | translate }}</button>
			<button class="button button-stable" ng-class="{ 'button-balanced': orderStatus == 'active' }" ng-click="filterOrder('active')">{{ 'active' | translate }}</button>
			<button class="button button-stable" ng-class="{ 'button-balanced': orderStatus == 'completed' }" ng-click="filterOrder('completed')">{{ 'completed' | translate }}</button>
		</div>

		<div class="padding" loading-box>
			<div class="list noborder">
				<div class="item item-avatar order-item" ng-repeat="order in orders" ui-sref="tabs.orderDetail({ id: order.id })">
					<img ng-src="{{ order.customer.avatar }}"/>

					<h2>{{ order.customer.name }}</h2>
					<p>{{ order.amount_due | currency: 'Rp ' }}</p>
					<p>{{ order.status }}</p>
				</div>

				<div class="item item-text-wrap" ng-if="!orders.length">
					{{ 'no_orders' | translate }}
				</div>
			</div>


		</div>
	</ion-content>
</ion-view>
