<ion-view title="{{ 'specify_items' | translate }}">
	<ion-nav-buttons side="right">
		<button class="button" ng-click="doUpdate()">{{ 'next' | translate }} ></button>
	</ion-nav-buttons>
	<ion-content class="padding">
		<div class="list">
			<div class="item item-input {{ item.qty ? 'bold' : '' }}" ng-repeat="item in itemTypes">
				{{ item.type }}
				<stepper ng-model="item.qty"></stepper>
			</div>
		</div>
		<button class="button button-balanced button-block" ng-click="doUpdate()">{{ 'save_changes' | translate }}</button>
	</ion-content>
</ion-view>
